USE [Demka_test_1]
GO
/****** Object:  Table [dbo].[climateTechTypes]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[climateTechTypes](
	[idClimateTechType] [int] IDENTITY(1,1) NOT NULL,
	[climateTechType] [nvarchar](50) NULL,
 CONSTRAINT [PK_climateTechTypes] PRIMARY KEY CLUSTERED 
(
	[idClimateTechType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[idComment] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NULL,
	[idUser] [int] NOT NULL,
	[idReguest] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[idComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[isRequest] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [datetime] NULL,
	[idclimateTechType] [int] NULL,
	[climateTechModel] [nvarchar](max) NULL,
	[problemDescryption] [nvarchar](max) NULL,
	[idRequestStatus] [int] NULL,
	[completionDate] [datetime] NULL,
	[repairParts] [nvarchar](max) NULL,
	[idMaster] [int] NULL,
	[idUser] [int] NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[isRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requestStatus]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requestStatus](
	[idRequestStatus] [int] IDENTITY(1,1) NOT NULL,
	[requestStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_requestStatus] PRIMARY KEY CLUSTERED 
(
	[idRequestStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRole]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRole](
	[idTypeRole] [int] IDENTITY(1,1) NOT NULL,
	[typeRole] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeRole] PRIMARY KEY CLUSTERED 
(
	[idTypeRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.02.2025 18:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](100) NULL,
	[phone] [nchar](11) NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[idTypeRole] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[climateTechTypes] ON 

INSERT [dbo].[climateTechTypes] ([idClimateTechType], [climateTechType]) VALUES (1, N'Кондиционер')
INSERT [dbo].[climateTechTypes] ([idClimateTechType], [climateTechType]) VALUES (2, N'Увлажнитель воздуха')
INSERT [dbo].[climateTechTypes] ([idClimateTechType], [climateTechType]) VALUES (3, N'Сушилка для рук')
SET IDENTITY_INSERT [dbo].[climateTechTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([isRequest], [startDate], [idclimateTechType], [climateTechModel], [problemDescryption], [idRequestStatus], [completionDate], [repairParts], [idMaster], [idUser]) VALUES (1, CAST(N'2023-06-06T00:00:00.000' AS DateTime), 1, N'TCL TAC-12CHSA/TPG-W белый', N'Не охлаждает воздух', 1, NULL, N'', 2, 7)
INSERT [dbo].[Requests] ([isRequest], [startDate], [idclimateTechType], [climateTechModel], [problemDescryption], [idRequestStatus], [completionDate], [repairParts], [idMaster], [idUser]) VALUES (2, CAST(N'2023-05-05T00:00:00.000' AS DateTime), 1, N'Electrolux EACS/I-09HAT/N3_21Y белый', N'Выключается сам по себе', 1, NULL, N'', 3, 8)
INSERT [dbo].[Requests] ([isRequest], [startDate], [idclimateTechType], [climateTechModel], [problemDescryption], [idRequestStatus], [completionDate], [repairParts], [idMaster], [idUser]) VALUES (3, CAST(N'2022-07-07T00:00:00.000' AS DateTime), 2, N'Xiaomi Smart Humidifier 2', N'Пар имеет неприятный запах', 2, CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'', 3, 9)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[requestStatus] ON 

INSERT [dbo].[requestStatus] ([idRequestStatus], [requestStatus]) VALUES (1, N'В процессе ремонта')
INSERT [dbo].[requestStatus] ([idRequestStatus], [requestStatus]) VALUES (2, N'Готова к выдаче')
INSERT [dbo].[requestStatus] ([idRequestStatus], [requestStatus]) VALUES (3, N'Новая заявка')
SET IDENTITY_INSERT [dbo].[requestStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeRole] ON 

INSERT [dbo].[TypeRole] ([idTypeRole], [typeRole]) VALUES (1, N'Менеджер')
INSERT [dbo].[TypeRole] ([idTypeRole], [typeRole]) VALUES (2, N'Специалист')
INSERT [dbo].[TypeRole] ([idTypeRole], [typeRole]) VALUES (3, N'Оператор')
SET IDENTITY_INSERT [dbo].[TypeRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [fio], [phone], [login], [password], [idTypeRole]) VALUES (1, N'Широков Василий Матвеевич', N'89210563128', N'login1', N'pass1', 1)
INSERT [dbo].[Users] ([idUser], [fio], [phone], [login], [password], [idTypeRole]) VALUES (2, N'Кудрявцева Ева Ивановна', N'89535078985', N'login2', N'pass2', 2)
INSERT [dbo].[Users] ([idUser], [fio], [phone], [login], [password], [idTypeRole]) VALUES (3, N'Гончарова Ульяна Ярославовна', N'89210673849', N'login3', N'pass3', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Requests] FOREIGN KEY([idReguest])
REFERENCES [dbo].[Requests] ([isRequest])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Requests]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_climateTechTypes] FOREIGN KEY([idclimateTechType])
REFERENCES [dbo].[climateTechTypes] ([idClimateTechType])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_climateTechTypes]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_requestStatus] FOREIGN KEY([idRequestStatus])
REFERENCES [dbo].[requestStatus] ([idRequestStatus])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_requestStatus]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users] FOREIGN KEY([idMaster])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users1] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_TypeRole] FOREIGN KEY([idTypeRole])
REFERENCES [dbo].[TypeRole] ([idTypeRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_TypeRole]
GO
